#logo
  (logo)

%section.trinity
  %header
    people
  %article.right_border
    %ul.clean
      %li
        %img.thumbnail{ :src => "/images/cory_thumbnail.jpg" }
        .name
          Cory O'Daniel
        %a{ :href => "http://coryodaniel.com", :title => "these are just words" }
          these are just words
      %li
        %img.thumbnail{ :src => "/images/ian_thumbnail.jpg" }
        .name
          Ian Serlin
        %a{ :href => "http://ianserlin.com", :title => "creating chaos since 1984" }
          creating chaos since 1984

%section.trinity
  %header
    projects
  %article.right_border
    %img{ :src => "/images/product_badges.png", :style => "padding-left: 10px; padding-top: 4px" }
  
%section.trinity
  %header
    philosophy
  %article
    These are some funny words that Cory will write, because he should be a writer.
    However, it will mention that we are advocates of quality, rationale treatment
    of developer artists and that we don't buy into the traditional life plan.
    %br
    %br
    Also we have super fat schlongs.